@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "variables";
@import "icons";

* {
  box-sizing: border-box;
}
html {
  font-size: 15px;
  font-family: 'Oswald', sans-serif;
  
}
body {
  margin: 0;
}
.sidebar {
  position: fixed;
  display: flex;
  width: 16rem;
  height: 100vh;
  padding: 1rem 2rem;
  flex-direction: column;
  background-color: $color-bg-primary;  
  
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;

  &__logo {
    background-image: url('/img/vibecast-logo.svg');
    background-size: contain;
    width: 12rem;
    height: 12rem;
  }
  &__links{
    text-decoration: none;
    color:$color-text-sidebar;
    padding-top: 0.4rem;
    font-size: 1rem;
    
  }
  &__links--up{
    text-transform: uppercase;
  }
  &__links--podcast{
      color:$color-text-sidebar;
      
    }
    p{
      color:$color-bg-secondary;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    button{
      padding: 0.8rem;
      margin-top: 3rem;
      width: 8rem;
      align-self: center;
      color: $color-bg-secondary;
      background-color: rgb(44, 150, 250);
      border-radius: 5px;
    }
  }

.podcast {
  margin-left: 16rem;
  display: flex;
  flex-direction: column;
}

.podcast-heading {
  display: flex;
  align-items: center;
  
  height: 5rem;
  padding: 1rem 2.5rem;
  margin-bottom: 1rem;
  background-color: $color-bg-secondary;

  &__logo {
    img {
      width: 3rem;
      height: 3rem;
    }

    margin-right: 1rem;
  }

  &__title {
    padding-bottom: 0.5rem;
    
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
  }
}
.podcast-158{
  height: 5rem;
  padding: 0.5rem 2.5rem;
  margin-bottom: 3rem;
  &__wrap{
    display:flex;
    flex-direction:row;
    align-items: center;
    border-top: 1px solid grey;
  }
  img {
    width: 3rem;
    height: 3rem;
  }
  &__wrap__number{
    font-size: 1.5rem;
    color:$color-text-secondary;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.4rem;
    & h1{
      padding:0;
      margin: 0;
    }
  }
  &__wrap__name{
   & h1{
     margin: 0;
   }
  }
  &__date{
    & p{
      margin-top: 0;
    }
  }
}

